ai-dev-workflow.json
{
  "name": "ai-dev-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-dev-workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        192
      ],
      "id": "44b661b5-c7c4-4e6c-91c0-acc93236d6f0",
      "name": "Webhook",
      "webhookId": "d5a85ce6-eb8e-4ee8-9dec-671d79c817de"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        192
      ],
      "id": "99d14fb7-f6fa-43ed-931d-8bcd5c618604",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb7c755c-fd8d-4da1-a0aa-2ecb993f684d",
              "name": "feature_description",
              "value": "={{ $json.body.action}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "742b50e0-8143-425d-a7b9-a38fa612b468",
      "name": "Extract Feature"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3\",\n  \"prompt\": \"You are a senior software engineer.\\nBreak the following feature idea into development tasks.\\nFeature: {{$json.feature_description}}\\nReturn a numbered list.\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        0
      ],
      "id": "a72a197b-b86f-4665-8d20-64c5083bb993",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "generate_feature_tasks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcf9ff93-0c70-4049-b710-a01fd7449aec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2777424f-d123-4eaf-ae76-2ae554912188",
                    "leftValue": "={{ $json.body.action}}",
                    "rightValue": "generate_unit_tests",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        176
      ],
      "id": "dd7b7632-042a-423c-a54e-bb3fb7cf753b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "024452e0-632b-441a-89fb-0a05236de54d",
              "name": "code",
              "value": "{{$json.data.code}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        192
      ],
      "id": "5830e69b-0f2a-4161-ac22-47191f791d69",
      "name": "Extract Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3\",\n  \"prompt\": \"Generate Python pytest unit tests for the following code:\\n\\n{{$json.code}}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        192
      ],
      "id": "aa74384f-357c-4f8a-a98a-6a225b564e08",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.response;\n\n// remove markdown ```python ``` if present\nconst cleaned = text\n  .replace(/```python/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nreturn [\n  {\n    json: {\n      tests: cleaned\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        192
      ],
      "id": "39b4c9f1-228f-466a-bbe9-458d976ce6e5",
      "name": "Format Unit Tests"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.response;\n\nconst tasks = [];\n\nfor (const line of text.split(\"\\n\")) {\n  const cleaned = line.trim();\n\n  if (cleaned.startsWith(\"*\")) {\n    tasks.push(cleaned.replace(\"*\", \"\").trim());\n  }\n\n  else if (/^\\d+\\./.test(cleaned)) {\n    tasks.push(cleaned.replace(/^\\d+\\.\\s*/, \"\"));\n  }\n}\n\nreturn [\n  {\n    json: {\n      tasks: tasks\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "f43883c6-ce78-4707-8163-2178aa506e55",
      "name": "Format Tasks"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        176
      ],
      "id": "2a2de939-ada9-4901-a5be-db3e3fa3a449",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1951919-54a2-4fd0-aa5e-c7fe530ddbd1",
              "name": "error",
              "value": "unknown action requested",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        432
      ],
      "id": "21a629e0-70d3-416f-a106-b77528ac231d",
      "name": "Unknown Action Handler"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Feature": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract Feature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Action Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Format Unit Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Unit Tests": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown Action Handler": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "53e661e5-53d1-47ee-9579-1d4bd52e4341",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d01f8f34a2e1e60b22afed18915e4e2be4e962d5be5308599e651aae7b4903e"
  },
  "id": "exSTbSb4tV4lmMTm",
  "tags": []
}